# Inspired by https://andrewlock.net/publishing-your-first-nuget-package-with-appveyor-and-myget
version: 4.14.2.{build}
configuration: Release
platform: Any CPU
build_script:  
  .\Build.cmd
image: Visual Studio 2019
environment:
  matrix:
    - CLI_VERSION: Latest
artifacts:
  - path: '**\bin\Release\*.nupkg'
branches:
  only:
    - master
deploy:  
- provider: NuGet
  server: https://www.myget.org/F/belgaard-ci/api/v2/package
  api_key:
    secure: whdEZ/zZL09ILdI18RLIeGgL71etbLNJpiIY4hNBhHMbZVZ82ziU6tSyMR4gw1mt
  skip_symbols: true
  on:
    branch: master
- provider: NuGet
  name: production
  api_key:
    secure: HgQ3BAc6ybB/4eygzlxcdA9tX/LBZK5hHnk3nGRuyLaQJTCySTZJArm08iiCRZnR
  on:
    branch: master
    appveyor_repo_tag: true
