version: 1.1.1.{build}
configuration: Release
platform: Any CPU
build_script:  
  .\Build.cmd
image: Visual Studio 2017
environment:
  matrix:
    - CLI_VERSION: Latest
artifacts:
  - path: '**\bin\Release\*.nupkg'
branches:
  only:
    - master
deploy:  
- provider: NuGet
  server: https://www.myget.org/F/belgaard-ci/api/v2/package
  api_key:
    secure: whdEZ/zZL09ILdI18RLIeGgL71etbLNJpiIY4hNBhHMbZVZ82ziU6tSyMR4gw1mt
  skip_symbols: true
  on:
    branch: master	
- provider: NuGet
  name: production
  api_key:
    secure: c8WNpkLEqDk1oyKkshC15rP6DPqpZj/peKG42ePj4ySzGJUC38++V73piF7HGTNV
  on:
    branch: master
    appveyor_repo_tag: true